<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="assets/css/room.css" type="text/css" /> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="stylesheet" href="[/= baseUrl /]/assets/css/login.css">
    <link href='https://fonts.googleapis.com/css?family=Plus Jakarta Sans' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <title>Telepati</title>
</head>

<body>
    <div class="full-container">
        <div id="loading-id" class="loading-show">
            <img src="[/= baseUrl /]/assets/pictures/loading.svg" alt="loading-bar" />
        </div>
        <div id="warning-container" class="warning-container">
            <span id="warning-message"></span>
        </div>
        <form class="login-form-container" id="login-form-container">
            <div class="login-form-header">
                <span id="login-title">Silahkan Masukan Nama Anda</span>
            </div>
            <div class="login-form-content">
                <div class="input-meeting">
                    <!-- <span>Nama Lengkap</span> -->
                    <input placeholder="Nama..." type="text" name="full_name" id="full_name">
                </div>
                <div class="input-meeting d-none">
                    <span>ID Peserta</span>
                    <input placeholder="" type="text" name="participant_id" id="participant_id">
                </div>
            </div>
            <div class="login-form-footer">
                <button id="submit-button" type="submit" class="next-button">Lanjutkan</button>
            </div>
        </form>
    </div>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="[/= baseUrl /]/javascript/url/url.js"></script>
    <script src="[/= baseUrl /]/javascript/login/login.js"></script>
</body>

</html>