<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="stylesheet" href="/assets/plugins/datatable/datatables.min.css">
    <link rel="stylesheet" href="/assets/css/participant_siram.css">
    <link rel="stylesheet" href="/assets/css/custom_datatable_participant.css">
    <link rel="stylesheet" href="/assets/css/custom_datatable.css">
    <link href='https://fonts.googleapis.com/css?family=Plus Jakarta Sans' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <title>Telepati</title>
</head>

<body>
    <div class="full-container">
        <div class="detail-participant" id="modal-detail">
            <div class="participant-header">
                <span>Detail Peserta</span>
                <img id="close-detail-modal-button" src="/assets/icons/close_detail_participant.svg" alt="close">
                <hr>
            </div>
            <div class="participant-photo">
                <img id="participant-detail-photo" src="/assets/pictures/avatar.png" alt="participant-detail-photo">
                <a id="update-photo-button" href="/updatephoto">
                    <button type="button"><i class="fas fa-camera-retro" style="color: #000000;"></i>&nbsp;&nbsp;
                        <span>Ambil Photo</span>
                    </button>
                </a>
            </div>
            <div class="participant-content">
                <div class="wrapper-container">
                    <span>Nama Lengkap</span>
                    <div class="info-wrapper">
                        <span id="full_name_detail"></span>
                    </div>
                </div>
                <div class="wrapper-container">
                    <span>NIK</span>
                    <div class="info-wrapper">
                        <span id="nik_detail"></span>
                    </div>
                </div>
                <div class="wrapper-container">
                    <span>NRP</span>
                    <div class="info-wrapper">
                        <span id="nrp_detail"></span>
                    </div>
                </div>
                <div class="wrapper-container">
                    <span>ID Peserta</span>
                    <div class="info-wrapper">
                        <span id="participant_id_detail"></span>
                    </div>
                </div>
                <div class="wrapper-container">
                    <span>Role</span>
                    <div class="info-wrapper">
                        <span id="role_detail"></span>
                    </div>
                </div>
                <div class="wrapper-container">
                    <span>Pengecualian Face Recognition</span>
                    <div class="info-wrapper">
                        <span id="exception_detail"></span>
                    </div>
                </div>
                <div class="wrapper-container">
                    <span>Status</span>
                    <div class="info-wrapper">
                        <span id="status_detail"></span>
                    </div>
                </div>
            </div>
        </div>
        <div id="blocker" class="blocker d-none"></div>
        [/- include('partial/header') /]
        <div class="main-container">
            <div class="participant-list-container">
                <div class="participant-list-header">
                    <h3>Daftar Peserta</h3>
                    <hr>
                </div>
                <div class="table-responsive">
                    <table class="table" id="customize-table">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Nama</th>
                                <th>NIK</th>
                                <th>NRP</th>
                                <th>ID Peserta</th>
                                <th>Role</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            [/ for(let index = 0; index < participants.length; index++) { /] <tr>
                                <td>[/= index + 1 /]</td>
                                <td> <img id="pic-[/- participants[index].participant_id /]"
                                        src="/photo/[/= participants[index].photo_path || 'P_0000000' /].png"
                                        alt="Image" />
                                    &nbsp;&nbsp;
                                    [/= participants[index].full_name /]</td>
                                <td>[/= participants[index].nik /]</td>
                                <td>[/= participants[index].nrp ? participants[index].nrp : "-" /]</td>
                                <td>[/= participants[index].participant_id /]</td>
                                <td>[/= participants[index].role /]</td>
                                <td>[/- participants[index].status == 1 ? `<svg width="11" height="10"
                                        viewBox="0 0 11 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="5.66675" cy="5" r="3.5" fill="#00CC88" />
                                    </svg> Aktif`:`<svg width="11" height="10" viewBox="0 0 11 10" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="5.66675" cy="5" r="3.5" fill="#666666" />
                                    </svg>` /]</td>
                                <td><span data-option="[/= participants[index].participant_id /]"
                                        onclick="showDetail(event)">Detail</span></td>
                                </tr>
                                [/ } /]
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="/assets/plugins/jquery/jquery-3.7.1.min.js"></script>
    <script src="/assets/plugins/datatable/datatables.min.js"></script>
    <script>
        const backButton = [/- JSON.stringify(backButton) /];
        const participants = [/- JSON.stringify(participants)/]
    </script>
    <script src="/javascript/participant/participant.js"></script>

</body>

</html>