<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="assets/css/room.css" type="text/css" /> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="stylesheet" href="/assets/css/room.css">
    <link href='https://fonts.googleapis.com/css?family=Plus Jakarta Sans' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <title>Telepati</title>
</head>

<body>
    <div class="full-container">
        <section id="new-user-join-notification-container">
        </section>
        <div id="screensharing-permissions" class="screensharing-permissions">
        </div>
        <div id="warning-container" class="warning-container">
            <span id="warning-message"></span>
        </div>
        <div class="layout-modal" id="layout-modal">
            <div class="layout-modal-header">
                <span class="layout-modal-title">Ubah Susunan</span>
                <img src="/assets/icons/close_button_layout.svg" alt="close_button" id="close-button-layout"
                    style="cursor: pointer;">
            </div>
            <div class="layout-modal-content-1">
                <div id="layout-1" class="layout-option-container" data-option="1">
                    <section class="layout-option-title">
                        <img class="radio" src="/assets/icons/radio_button_active.svg" alt="radio_button_icon">
                        <span>Petak</span>
                    </section>
                    <section class="layout-option-icon">
                        <img src="/assets/icons/layout_1.svg" alt="layout_1">
                    </section>
                </div>
                <div class="layout-option-container" data-option="2">
                    <section class="layout-option-title">
                        <img class="radio" src="/assets/icons/radio_button.svg" alt="radio_button_icon">
                        <span>Pembicara</span>
                    </section>
                    <section class="layout-option-icon">
                        <img src="/assets/icons/layout_2.svg" alt="layout_1">
                    </section>
                </div>
                <div id="layout-3" class="layout-option-container" data-option="3">
                    <section class="layout-option-title">
                        <img class="radio" src="/assets/icons/radio_button.svg" alt="radio_button_icon">
                        <span>Petak Samping</span>
                    </section>
                    <section class="layout-option-icon">
                        <img src="/assets/icons/layout_3.svg" alt="layout_1">
                    </section>
                </div>
            </div>
            <div class="layout-modal-content-2">
                <div class="layout-modal-content-2-title">
                    <p>Jumlah Petak</p>
                    <span id="alert-video-layout" class="hide-alert">Tidak bisa mengubah jumlah tampilan petak di
                        tampilan ini</span>
                </div>
                <div class="layout-modal-content-2-content">
                    <div class="layout-option" data-option="6">
                        <img class="mini-radio" src="/assets/icons/mini_radio_active.svg" alt="mini_radio" />
                        <span>6</span>
                    </div>
                    <div class="layout-option" data-option="9">
                        <img class="mini-radio" src="/assets/icons/mini_radio.svg" alt="mini_radio" />
                        <span>9</span>
                    </div>
                    <div class="layout-option" data-option="12">
                        <img class="mini-radio" src="/assets/icons/mini_radio.svg" alt="mini_radio" />
                        <span>12</span>
                    </div>
                    <div class="layout-option" data-option="16">
                        <img class="mini-radio" src="/assets/icons/mini_radio.svg" alt="mini_radio" />
                        <span>16</span>
                    </div>
                </div>
            </div>
            <div class="layout-modal-footer"></div>
        </div>
        <div class="video-quality-container" id="video-quality-container" style="top: -50%;">
            <div class="video-quality-header">
                <span>Kualitas Video</span>
            </div>
            <div class="video-quality-upstream">
                <span>Upload Stream</span>
                <div class="upstream-quality">
                    <div class="upstream-option" data-option="0">
                        <img class="mini-radio" src="/assets/icons/mini_radio_active.svg" alt="mini_radio" />
                        <span>Low</span>
                    </div>
                    <div class="upstream-option" data-option="1">
                        <img class="mini-radio" src="/assets/icons/mini_radio.svg" alt="mini_radio" />
                        <span>Medium</span>
                    </div>
                    <div class="upstream-option" data-option="2">
                        <img class="mini-radio" src="/assets/icons/mini_radio.svg" alt="mini_radio" />
                        <span>High</span>
                    </div>
                </div>
            </div>
            <div class="video-quality-downstream">
                <span>Download Stream</span>
                <div class="downstream-quality">
                    <div class="downstream-option" data-option="0">
                        <img class="mini-radio" src="/assets/icons/mini_radio_active.svg" alt="mini_radio" />
                        <span>Low</span>
                    </div>
                    <div class="downstream-option" data-option="1">
                        <img class="mini-radio" src="/assets/icons/mini_radio.svg" alt="mini_radio" />
                        <span>Medium</span>
                    </div>
                    <div class="downstream-option" data-option="2">
                        <img class="mini-radio" src="/assets/icons/mini_radio.svg" alt="mini_radio" />
                        <span>High</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="block-container d-none" id="block-container"></div>
        <section class="upper-container">
            <div id="audio-collection"></div>
            <div class="video-container-normal-view" id="video-container">
                <div class="cc-container d-none" id="cc-container">
                    <!-- Text CC -->
                </div>
                <div class="previous-page" id="previous-page">
                    <p>&lt;</p>
                    <p><span id="previous-number">1</span> / <span id="previous-number-total">1</span></p>
                </div>
                <div class="next-page" id="next-page">
                    <p>&gt;</p>
                    <p><span id="next-number">1</span> / <span id="next-number-total">1</span></p>
                </div>
                <div id="video-container-focus" class="video-container-focus d-none"></div>
                <div id="arrow-up" class="d-none">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17 13L10 6L3 13" stroke="#9CA3AF" stroke-width="1.6" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                    <span><span id="up-number">1</span>&nbsp;/&nbsp;<span id="up-number-total">2</span></span>

                </div>
                <div id="arrow-down" class="d-none">
                    <span><span id="down-number">1</span> / <span id="down-number-total">2</span></span>
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3 7L10 14L17 7" stroke="#9CA3AF" stroke-width="1.6" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                </div>
                <div id="video-collection">
                </div>
            </div>
            <div class="side-bar-container side-bar-container-hide" id="side-bar-container">
                <section class="user-list-container d-none" id="user-list-container">
                    <div class="user-list-header">
                        <div class="user-list-header-title">
                            <span>Anggota (<span id="user-list-total">1</span>)</span>
                            <i id="close-side-bar"><img src="/assets/icons/close_button.svg" alt="close"></i>
                        </div>
                        <div class="user-list-header-search">
                            <div class="search-user">
                                <img class="search-icon" src="/assets/icons/search.svg" alt="search">
                                <input type="text" class="custom-input" placeholder="Cari Anggota" />
                            </div>
                        </div>
                    </div>
                    <div class="users-list-content">
                        <div class="raise-hand-list-container d-none" id="raise-hand-list-container">
                            <div class="raise-hand-list-header">
                                <span>Angkat Tangan</span>
                            </div>
                            <div class="liner-top">
                                <hr />
                            </div>
                            <div class="users-list-container" id="raise-hand-list">
                                <!-- <div class="user-list-content">
                                    <div class="user-list-profile">
                                        <img src="/assets/icons/example_user.svg" alt="user-list-picture"
                                            class="user-list-picture" />
                                        <span class="user-list-username">Rara Riri</span>
                                    </div>
                                    <div class="user-list-icons">
                                        <img src="/assets/icons/raise_hand_list.svg" alt="user-list-icon"
                                            class="user-list-icon">
                                    </div>
                                </div> -->
                            </div>
                        </div>
                        <div class="waiting-list-container d-none" id="waiting-list-container">
                            <div class="raise-hand-list-header">
                                <span>Ruang Tunggu</span>
                            </div>
                            <div class="liner-top">
                                <hr />
                            </div>
                            <div class="users-list-container" id="waiting-list-users">
                            </div>
                        </div>
                        <div class="users-list-container" id="users-list-container">
                        </div>
                    </div>
                    <div class="user-list-footer">
                        <button class="share-link-button">Share</button>
                        <button class="mute-all-button" id="mute-all-button">Mute All</button>
                    </div>
                </section>
                <section class="chat-container d-none" id="chat-container">
                    <div class="chat-content" id="chat-content">
                    </div>
                    <div class="chat-footer">
                        <div class="input-chat-container">
                            <input id="message-input" type="text" class="custom-input" placeholder="Tulis pesan..." />
                            <img class="send-message-button" src="/assets/icons/send_message.svg" alt="" srcset="" />
                        </div>
                    </div>
                </section>
            </div>
        </section>
        <section class="bottom-container">
            <div class="bottom-content">
                <section class="left-button-collection">
                    <button class="button-container" id="mic-button">
                        <img id="mic-icon" class="icons" src="/assets/icons/mic.svg" alt="mic-icons">
                        <img src="/assets/icons/arrow_up.svg" alt="arrow-up" id="microphone-devices-option">
                        <ul id="mic-options" class="d-none">
                            <li id="audio-input"><span class="mic-options-icons"><i
                                        class="fa-solid fa-microphone-lines"></i></span><span>Microphone</span></li>
                            <!-- <li id="audio-output"><span class="mic-options-icons"><i
                                        class="fa-solid fa-volume-high"></i></span><span>Speaker</span></li> -->
                        </ul>
                    </button>
                    <button class="button-container" id="camera-button">
                        <img id="camera-icon" class="icons" src="/assets/icons/camera_off.svg" alt="camera-icons">
                        <img src="/assets/icons/arrow_up.svg" alt="arrow-up" id="camera-devices-option">
                        <ul id="video-options" class="d-none">
                            <li id="video-input"><span class="input-options-icons"><i
                                        class="fa-solid fa-video"></i></span><span>Camera</span></li>
                        </ul>
                    </button>
                    <div class="record-container d-none" id="record-container">
                        <span id="timer-title">Merekam :</span>&nbsp;<span
                            id="timer-span">00:00:00</span>&nbsp;&nbsp;&nbsp;<img id="pause-record" class="record-icons"
                            src="/assets/icons/pause_record.svg" alt="pause_button" /><img id="resume-record"
                            class="record-icons d-none" src="/assets/icons/resume_record.svg"
                            alt="pause_button" />&nbsp;&nbsp;<img id="stop-record" class="record-icons"
                            src="/assets/icons/stop_record.svg" alt="stop_button" />
                    </div>
                </section>
                <section class="middle-button-collection">
                    <button class="button-container" id="user-list-button">
                        <div id="red-dot-user-list" class="d-none"></div>
                        <img class="icons" src="/assets/icons/people.svg" alt="user-list-icons">
                    </button>
                    <button class="button-container" id="chat-button">
                        <img class="icons" src="/assets/icons/chat.svg" alt="chat-icons">
                    </button>
                    <button class="button-container" id="raise-hand-button">
                        <img class="icons" src="/assets/icons/raise_hand.svg" alt="raise-hand-icons">
                    </button>
                    <button class="button-container" id="screen-sharing-button">
                        <img class="icons" src="/assets/icons/screen_sharing.svg" alt="screen-sharing-icons">
                    </button>
                    <button class="button-container" id="cc-button">
                        <img class="icons" src="/assets/icons/cc.svg" alt="cc-icons">
                    </button>
                    <button class="button-container" id="option-button">
                        <img class="icons" src="/assets/icons/option.svg" alt="option-icons">
                        <div class="option-container d-none" id="option-container">
                            <div class="option-list" id="record-button">
                                <img src="/assets/icons/record.svg" alt="record-icon">
                                <span>Mulai Merekam</span>
                            </div>
                            <div class="option-list" id="video-quality-button">
                                <img src="/assets/icons/video_quality.svg" alt="record-icon">
                                <span>Kualitas Video</span>
                            </div>
                            <div class="option-list" style="position: relative;" id="video-layout-button">
                                <img src="/assets/icons/video_layout.svg" alt="record-icon">
                                <span>Ubah Susunan</span>
                                <hr />
                            </div>
                            <div class="option-list">
                                <img src="/assets/icons/setting.svg" alt="record-icon">
                                <span>Pengaturan</span>
                            </div>
                        </div>
                    </button>
                </section>
                <section class="right-button-collection">
                    <button class="button-container" id="hang-up-button">
                        <img class="icons" src="/assets/icons/hang_up.svg" alt="hang-up-icons">
                    </button>
                </section>
            </div>
        </section>
    </div>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="/assets/plugins/face-api/face-api.min.js"></script>
    <script>
        const roomName = [/- JSON.stringify(roomId) /]
        const userId = [/- JSON.stringify(participant_id) /]
        const meetingType = [/- JSON.stringify(meetingType) /]
        const picture = [/- JSON.stringify(picture) /]
    </script>
    <script src="/javascript/room/roombundle.js"></script>
</body>

</html>