<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="assets/css/room.css" type="text/css" /> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="[/= baseUrl /]/assets/pictures/favicon.png">
    <link rel="stylesheet" href="[/= baseUrl /]/assets/css/lobby.css">
    <link href='https://fonts.googleapis.com/css?family=Plus Jakarta Sans' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <title>[/= appName /]</title>
</head>

<body>
    <div class="full-container" style="background-image: url('[/= baseUrl /]/assets/pictures/vmeet_background.png');">
        <div class="waiting-modal-container d-none" id="waiting-modal-container">
            <div class="waiting-modal">
                <div class="waiting-modal-content">
                    <div class="waiting-modal-content-left">
                        <img src="[/= baseUrl /]/assets/pictures/waitingPic.png" alt="waiting">
                    </div>
                    <div class="waiting-modal-content-right">
                        <div class="left-line"></div>
                        <div class="waiting-modal-description">
                            <p>Selamat Datang di Ruang V Meet!</p>
                            <span>Mohon sabar, Host akan mempersilahkan Anda masuk.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="loading-id" class="loading-show">
            <img src="[/= baseUrl /]/assets/pictures/loading.svg" alt="loading-bar" />
        </div>
        <div id="warning-container" class="warning-container">
            <span id="warning-message"></span>
        </div>
        <div class="lobby-container">
            <div class="left-side-content">
                <div id="video-container">
                    <div id="video-picture-container">
                        <img src="[/= baseUrl /]/assets/pictures/inactive_camera.png" id="video-picture" alt="">
                    </div>
                    <div class="button-controller-container">
                        <button class="button-container" id="mic-button">
                            <img id="mic-icon" class="icons" src="[/= baseUrl /]/assets/icons/mic_muted.svg"
                                alt="mic-icons">
                        </button>
                        <button class="button-container" id="camera-button">
                            <img id="camera-icon" class="icons" src="[/= baseUrl /]/assets/icons/camera_off.svg"
                                alt="camera-icons">
                        </button>
                    </div>
                    <video id="video-demo" src=""></video>
                </div>
            </div>
            <div class="right-side-content">
                <form class="lobby-form-container" id="lobby-form-container">
                    <div class="lobby-form-header">
                        <img src="[/= baseUrl /]/assets/pictures/VmeetLogo.svg" alt="rdslogo" srcset="">
                    </div>
                    <div class="lobby-form-content">
                        <div class="input-meeting">
                            <input placeholder="Nama..." type="text" name="full_name" id="full_name">
                        </div>
                        [/ if (viewerEnabled) {/]
                        <div class="toggle-group">
                            <label for="viewer">Viewer</label>
                            <label class="switch">
                                <input type="checkbox" id="viewer-checkbox" name="viewer">
                                <span class="slider"></span>
                            </label>
                        </div>
                        [/ }/]
                        <div class="input-meeting d-none">
                            <span>ID Peserta</span>
                            <input placeholder="" type="text" name="participant_id" id="participant_id">
                        </div>
                    </div>
                    <div class="lobby-form-footer">
                        <button id="submit-button" type="submit" class="next-button">Lanjutkan</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script>
        const baseUrl = [/- JSON.stringify(baseUrl) /]
        const databaseUrl = [/- JSON.stringify(databaseUrl) /]
        const socketPath = [/- JSON.stringify(socketPath) /]
        const socketBaseUrl = [/- JSON.stringify(socketBaseUrl) /]
        const viewerEnabled = [/- JSON.stringify(viewerEnabled) /]
        const initialSetting = [/- JSON.stringify(initialSetting) /]
    </script>
    <script src="[/= baseUrl /]/javascript/lobby/lobbybundle.js"></script>
</body>

</html>