<div class="navbar-container">
    <div class="navbar">
        <a href="[/= baseUrl /]">
            <img src="[/= baseUrl /]/assets/pictures/VmeetLogo.svg" alt="rdslogo" srcset="">
        </a>
        <div class="option-container">

            <div id="language-option" class="dropdown">
                <button class="dropdown-btn">
                    <img id="selected-flag" src="[/= baseUrl /]/assets/icons/us_flag.svg" alt="us_flag">
                    <span id="selected-language">EN</span>
                </button>
                <div class="dropdown-content">
                    <div class="dropdown-item" data-value="id" data-lang="Indonesian" id="indonesian-language">
                        <img src="[/= baseUrl /]/assets/icons/indonesia_flag.svg" alt="Indonesia Flag">
                        <span>Indonesian</span>
                    </div>
                    <div class="dropdown-item" data-value="en" data-lang="English" id="english-language">
                        <img src="[/= baseUrl /]/assets/icons/us_flag.svg" alt="US Flag">
                        <span>English</span>
                    </div>
                </div>
            </div>
            [/ if (!isLogin) { /]
            <button class="blue-button rounded sign-in-btn" id="sign-in-btn-modal-2">
                <span id="sign-in-button-title-navbar"></span>
            </button>
            [/ } else { /]
            <div id="user-profile" class="user-profile">
                <input type="checkbox" id="toggle-profile" style="display: none;">
                <label for="toggle-profile">
                    <img src="[/= picture /]" referrerPolicy="no-referrer" alt="user-profile">
                    <span id="user-name" style="margin-left: 8px;">[/= username /]</span>
                </label>

                <div id="profile-dropdown" class="profile-dropdown">
                    <img src="[/= picture /]" referrerPolicy="no-referrer" alt="user-profile">
                    <p>[/= username /]</p>
                    <span>[/= email /]</span>
                    <div class="log-out-container" id="log-out-button">
                        <img id="log-out-button-image" src="[/= baseUrl /]/assets/icons/log_out_door.svg" alt="door">
                        <span>Log Out</span>
                    </div>
                </div>
            </div>

            <!-- <div id="user-profile" class="user-profile">
                <input type="checkbox" id="toggle-profile" style="display: none;">
                <label for="toggle-profile">
                    <img src="[/= picture /]" referrerPolicy="no-referrer" alt="user-profile">
                    <span id="user-name">[/= username /]</span>
                </label>
                                <div class="profile-dropdown">
                    <p>Profile Info</p>
                    <p>Settings</p>
                    <p>Logout</p>
                </div>
            </div> -->


            [/ } /]

        </div>
    </div>
</div>