<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="assets/css/room.css" type="text/css" /> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="[/= baseUrl /]/assets/pictures/favicon.png">
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <link rel="stylesheet" href="[/= baseUrl /]/assets/css/home.css">
    <link rel="stylesheet" href="[/= baseUrl /]/assets/css/schedule.css">
    <link href='https://fonts.googleapis.com/css?family=Plus Jakarta Sans' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="/assets/plugins/daterangepicker-master/daterangepicker.css" />
    <title>[/= appName /]</title>
</head>

<body>
    <div class="full-container">
        <div id="warning-modal" class="alert alert-danger warning-modal" role="alert">
            <span id="warning-message">
            </span>
        </div>

        [/ if (isLogin) { /]
        <div id="create-modal" class="create-meeting-container">
            <form id="create-meeting-container" class="create-meeting">
                <div class="create-meeting-header-container">
                    <div class="create-meeting-header">
                        <input autocomplete="off" placeholder="Masukkan Judul Meeting" type="text" name="room_name"
                            id="room_name">
                    </div>
                </div>
                <div class="create-meeting-content-container">
                    <div class="create-meeting-content-card">
                        <div class="input-meeting">
                            <span id="start_date_title">Waktu Mulai</span>
                            <input autocomplete="off" type="datetime" id="start_date" class="start_date" value=""
                                name="start_date">
                        </div>
                        <div class="input-meeting">
                            <span id="end_date_title">Waktu Selesai</span>
                            <input autocomplete="off" type="datetime" id="end_date" class="end_date" value=""
                                name="end_date" disabled>
                        </div>
                        <div class="input-meeting">
                            <span id="room_id_create_title">Room Id</span>
                            <input autocomplete="off" type="text" id="room_id_create" class="room_id" value=""
                                style="background-color: #E9ECEF; cursor: not-allowed;" readonly>
                        </div>
                        <div class="input-meeting">
                            <span id="password_create_title">Password</span>
                            <input autocomplete="off" style="background-color: #E9ECEF; cursor: not-allowed;" readonly
                                id="password_create" name="password" type="text" class="password" name="password"
                                placeholder="Masukkan Password">
                        </div>
                        <div class="input-meeting-generate-password">
                            <input autocomplete="off" style="cursor: pointer;" class="generate-random-pw"
                                type="checkbox" name="random-password" id="custom-password-checkbox">
                            <span id="generate-pw-label">Custom Password</span>
                        </div>
                        <div class="input-meeting">
                            <span id="description_title">Deskripsi</span>
                            <textarea name="description" id="description" placeholder="Deskripsi"></textarea>
                        </div>
                        <div class="input-meeting" id="input-meeting-participants">
                            <span id="participants_title">Peserta Meeting</span>
                            <div class="participants-box" id="participants-box-id">
                            </div>
                            <input autocomplete="off" id="participants" name="participants" type="text"
                                class="participants" name="participants" placeholder="Pilih peserta">
                        </div>
                    </div>
                </div>
                <div class="create-meeting-footer-container">
                    <button type="button" id="close-create-modal-button">Tutup</button>
                    <button type="submit" id="save-create-modal-button">Buat</button>
                </div>
            </form>
        </div>
        <div id="meeting-list-modal" class="meeting-list-container">
            <div class="list-meeting" id="list-meeting-id">
                <div id="meeting-list-close-icon">
                    <img src="[/= baseUrl /]/assets/icons/close_button_layout.svg" alt="close">
                </div>
                <div class="list-meeting-header">
                    <span id="history-meeting-header-title">Riwayat Meeting</span>
                    <div class="list-meetings-filter-container">
                        <div id="list-meetings-filter" class="list-meetings-filter">
                            <img style="width: 15px;" src="[/= baseUrl /]/assets/icons/date-icon.svg" alt="calender"
                                srcset="">&nbsp;&nbsp;<span></span>
                        </div>
                    </div>
                </div>
                <div class="list-meeting-card-container" id="list-meeting-card-container-id">
                </div>
            </div>
        </div>
        [/ } /]

        <div class="navbar-container">
            <div class="navbar">
                <img src="[/= baseUrl /]/assets/pictures/RDS_Logo.png" alt="rdslogo" srcset="">
                <div class="option-container">

                    <div id="language-option" class="dropdown">
                        <button class="dropdown-btn">
                            <img id="selected-flag" src="[/= baseUrl /]/assets/icons/us_flag.svg" alt="us_flag">
                            <span id="selected-language">EN</span>
                        </button>
                        <div class="dropdown-content">
                            <div class="dropdown-item" data-value="id" data-lang="Indonesian" id="indonesian-language">
                                <img src="[/= baseUrl /]/assets/icons/indonesia_flag.svg" alt="Indonesia Flag">
                                <span>Indonesian</span>
                            </div>
                            <div class="dropdown-item" data-value="en" data-lang="English" id="english-language">
                                <img src="[/= baseUrl /]/assets/icons/us_flag.svg" alt="US Flag">
                                <span>English</span>
                            </div>
                        </div>
                    </div>
                    [/ if (!isLogin) { /]
                    <a href="[/= databaseUrl /]/api/google/create_token" class="google-button" style="color: #000000;">
                        <span> Sign in With</span><img src="[/= baseUrl /]/assets/icons/google_logo.svg" alt="">
                    </a>
                    [/ } else { /]
                    <div id="user-profile" class="user-profile">
                        <img src="[/= picture /]" referrerPolicy="no-referrer" alt="user-profile">
                        <span id="user-name">[/= username /]</span>
                    </div>
                    <div class="log-out-container" id="log-out-button">
                        <span>Log Out</span>
                        <img src="[/= baseUrl /]/assets/icons/log_out_door.svg" alt="door">
                    </div>
                    [/ } /]

                </div>
            </div>
        </div>
        <div class="main-content">
            <div class="left-box">
                <div class="login-container">


                    <div class="text-container">
                        <p class="text-title" id="language-title"><span>RDS!</span>
                        </p>
                    </div>

                    [/ if (isLogin) { /]
                    <div class="meeting-information-container">
                        <button class="schedule-meeting-btn" id="schedule-meeting-btn-modal">
                            <svg width="32" height="30" viewBox="0 0 32 30" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path id="schedule-meeting-icon" fill-rule="evenodd" clip-rule="evenodd"
                                    d="M27.1912 4.12758C24.4104 1.66726 20.7009 0.204248 16.7759 0.0198274C12.8508 -0.164593 8.98739 0.942592 5.92828 3.12852C2.86917 5.31445 0.830339 8.42481 0.203773 11.8616C-0.422793 15.2984 0.407133 18.8191 2.53399 21.7467C2.71719 21.9992 2.73906 22.3007 2.58867 22.6955L0.463381 28.4438C0.411532 28.5831 0.397689 28.7313 0.422987 28.8762C0.448284 29.0212 0.512002 29.1587 0.608917 29.2777C0.705832 29.3966 0.833186 29.4935 0.98054 29.5604C1.12789 29.6273 1.29105 29.6623 1.45664 29.6626C1.56588 29.6625 1.67445 29.6475 1.77862 29.6184L9.76367 27.3655C9.99713 27.2928 10.2518 27.2943 10.4842 27.3697C13.8921 28.4673 17.6208 28.5023 21.0542 27.469C24.4876 26.4357 27.4203 24.396 29.3678 21.6867C31.3153 18.9774 32.161 15.7608 31.7653 12.5682C31.3695 9.37557 29.756 6.39806 27.1912 4.12758ZM15.9283 27.6095C14.151 27.6112 12.3872 27.3372 10.7166 26.8C10.3423 26.678 9.93197 26.6737 9.55449 26.7878L1.57285 29.0408C1.50893 29.0594 1.44041 29.0618 1.37505 29.0476C1.30969 29.0335 1.2501 29.0035 1.20303 28.9609C1.15549 28.9189 1.12192 28.8661 1.106 28.8083C1.09009 28.7505 1.09244 28.69 1.11279 28.6333L3.24082 22.885C3.45 22.311 3.4083 21.8315 3.10957 21.4192C1.52005 19.2397 0.675867 16.6997 0.678713 14.1051C0.678713 6.65844 7.52013 0.600118 15.9283 0.600118C24.3365 0.600118 31.1725 6.65844 31.1725 14.1051C31.1725 21.5518 24.3365 27.6095 15.9283 27.6095ZM19.9226 11.3302V16.88C19.9226 17.1529 19.8001 17.4148 19.5822 17.6078C19.3642 17.8008 19.0687 17.9093 18.7604 17.9093H9.06983C8.76161 17.9093 8.46603 17.8008 8.24809 17.6078C8.03015 17.4148 7.90772 17.1529 7.90772 16.88V11.3302C7.90772 11.0572 8.03015 10.7954 8.24809 10.6024C8.46603 10.4094 8.76161 10.3009 9.06983 10.3009H18.7591C19.0673 10.3009 19.3629 10.4094 19.5808 10.6024C19.7988 10.7954 19.9212 11.0572 19.9212 11.3302H19.9226ZM23.9476 11.6965V16.5143C23.9474 16.5885 23.9252 16.6613 23.8833 16.7256C23.8414 16.7898 23.7811 16.8432 23.7086 16.8803C23.636 16.9175 23.5538 16.9371 23.47 16.9373C23.3862 16.9374 23.3039 16.9181 23.2312 16.8812L20.3307 15.3984V12.8118L23.2312 11.329C23.3039 11.2921 23.3863 11.2728 23.4702 11.2729C23.554 11.2731 23.6363 11.2928 23.7089 11.33C23.7814 11.3672 23.8417 11.4207 23.8836 11.485C23.9254 11.5493 23.9475 11.6223 23.9476 11.6965Z"
                                    fill="#0054A6" />
                            </svg>

                            <span id="meeting-create-button-title">Buat Meeting</span>
                        </button>
                        <button class="info-meeting-btn" id="list-meeting-btn-modal">
                            <svg width="31" height="30" viewBox="0 0 31 30" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path id="schedule-meeting-icon"
                                    d="M24.5351 13.7856V4.00481C24.5351 3.20186 23.9528 2.54858 23.2371 2.54858H22.2467V1.64184C22.2467 1.01225 21.7902 0.5 21.229 0.5H20.2479C19.6867 0.5 19.2301 1.01218 19.2301 1.64184V2.54858H16.5994V1.64184C16.5994 1.01225 16.1429 0.5 15.5818 0.5H14.6006C14.0395 0.5 13.5829 1.01218 13.5829 1.64184V2.54858H10.9522V1.64184C10.9522 1.01225 10.4957 0.5 9.93446 0.5H8.95345C8.39227 0.5 7.93569 1.01218 7.93569 1.64184V2.54858H5.30503V1.64184C5.30503 1.01225 4.84851 0.5 4.28728 0.5H3.30626C2.74503 0.5 2.28839 1.01218 2.28839 1.64184V2.54858H1.29797C0.582287 2.54858 0 3.20186 0 4.00481V24.7506C0 25.5536 0.582287 26.2068 1.29797 26.2068H18.283C19.5569 28.1993 21.6384 29.5 23.9859 29.5C27.8535 29.5 31 25.9699 31 21.6308C31 17.499 28.147 14.1009 24.5351 13.7856ZM20.3285 1.73235H21.1483V4.5973H20.3285V1.73235ZM14.6813 1.73235H15.501V4.5973H14.6813V1.73235ZM9.03412 1.73235H9.85379V4.5973H9.03412V1.73235ZM3.38681 1.73235H4.2066V4.5973H3.38681V1.73235ZM1.29797 3.78093H2.28839V4.68767C2.28839 5.31734 2.74496 5.82965 3.30626 5.82965H4.28728C4.84845 5.82965 5.30503 5.3174 5.30503 4.68767V3.78093H7.93569V4.68767C7.93569 5.31734 8.39221 5.82965 8.95345 5.82965H9.93446C10.4956 5.82965 10.9522 5.3174 10.9522 4.68767V3.78093H13.5829V4.68767C13.5829 5.31734 14.0394 5.82965 14.6006 5.82965H15.5818C16.1429 5.82965 16.5994 5.3174 16.5994 4.68767V3.78093H19.2301V4.68767C19.2301 5.31734 19.6866 5.82965 20.2479 5.82965H21.229C21.7901 5.82965 22.2467 5.3174 22.2467 4.68767V3.78093H23.2371C23.3453 3.78093 23.4367 3.88342 23.4367 4.00481V6.87476H1.09843V4.00481C1.09843 3.88342 1.18978 3.78093 1.29797 3.78093ZM1.29797 24.9745C1.18984 24.9745 1.09843 24.872 1.09843 24.7506V8.10704H23.4367V13.7855C19.8248 14.1009 16.9719 17.499 16.9719 21.6307C16.9719 22.8257 17.211 23.959 17.6375 24.9744H1.29797V24.9745ZM23.9859 28.2676C20.724 28.2676 18.0703 25.2904 18.0703 21.6309C18.0703 17.9713 20.724 14.994 23.9859 14.994C27.2478 14.994 29.9016 17.9713 29.9016 21.6309C29.9016 25.2903 27.2478 28.2676 23.9859 28.2676ZM5.90239 19.5468H3.13582C2.99016 19.5468 2.85047 19.6118 2.74747 19.7273C2.64447 19.8429 2.58661 19.9996 2.58661 20.163V23.3291C2.58661 23.4925 2.64447 23.6492 2.74747 23.7648C2.85047 23.8803 2.99016 23.9452 3.13582 23.9452H5.90239C6.04805 23.9452 6.18774 23.8803 6.29074 23.7648C6.39374 23.6492 6.4516 23.4925 6.4516 23.3291V20.163C6.4516 19.9996 6.39374 19.8429 6.29074 19.7273C6.18774 19.6118 6.04805 19.5468 5.90239 19.5468ZM5.35318 22.7129H3.68503V20.7792H5.35318V22.7129ZM18.6327 13.5348H21.3994C21.5451 13.5348 21.6848 13.4699 21.7878 13.3543C21.8907 13.2388 21.9486 13.082 21.9486 12.9186V9.75257C21.9486 9.58915 21.8907 9.43243 21.7878 9.31687C21.6848 9.20131 21.5451 9.1364 21.3994 9.1364H18.6327C18.487 9.1364 18.3474 9.20131 18.2444 9.31687C18.1414 9.43243 18.0835 9.58915 18.0835 9.75257V12.9186C18.0835 13.082 18.1414 13.2388 18.2444 13.3543C18.3474 13.4699 18.487 13.5348 18.6327 13.5348ZM19.1819 10.3687H20.8502V12.3024H19.1819V10.3687ZM16.2337 14.3416H13.467C13.3213 14.3416 13.1816 14.4065 13.0786 14.5221C12.9756 14.6376 12.9178 14.7943 12.9178 14.9578V18.1237C12.9178 18.2872 12.9756 18.4439 13.0786 18.5594C13.1816 18.675 13.3213 18.7399 13.467 18.7399H16.2337C16.3793 18.7399 16.519 18.675 16.622 18.5594C16.725 18.4439 16.7829 18.2872 16.7829 18.1237V14.9578C16.7829 14.7943 16.725 14.6376 16.622 14.5221C16.519 14.4065 16.3793 14.3416 16.2337 14.3416ZM15.6845 17.5076H14.0162V15.5739H15.6845V17.5076ZM11.068 9.1364H8.30135C8.15569 9.1364 8.01599 9.20131 7.913 9.31687C7.81 9.43243 7.75214 9.58915 7.75214 9.75257V12.9186C7.75214 13.082 7.81 13.2388 7.913 13.3543C8.01599 13.4699 8.15569 13.5348 8.30135 13.5348H11.068C11.2137 13.5348 11.3534 13.4699 11.4564 13.3543C11.5594 13.2388 11.6173 13.082 11.6173 12.9186V9.75257C11.6173 9.58915 11.5594 9.43243 11.4564 9.31687C11.3534 9.20131 11.2137 9.1364 11.068 9.1364ZM10.5188 12.3024H8.85056V10.3687H10.5188V12.3024ZM16.2337 19.5468H13.467C13.3213 19.5468 13.1816 19.6118 13.0786 19.7273C12.9756 19.8429 12.9178 19.9996 12.9178 20.163V23.3291C12.9178 23.4925 12.9756 23.6492 13.0786 23.7648C13.1816 23.8803 13.3213 23.9452 13.467 23.9452H16.2337C16.3793 23.9452 16.519 23.8803 16.622 23.7648C16.725 23.6492 16.7829 23.4925 16.7829 23.3291V20.163C16.7829 19.9996 16.725 19.8429 16.622 19.7273C16.519 19.6118 16.3793 19.5468 16.2337 19.5468ZM15.6845 22.7129H14.0162V20.7792H15.6845V22.7129ZM16.2337 9.1364H13.467C13.3213 9.1364 13.1816 9.20131 13.0786 9.31687C12.9756 9.43243 12.9178 9.58915 12.9178 9.75257V12.9186C12.9178 13.082 12.9756 13.2388 13.0786 13.3543C13.1816 13.4699 13.3213 13.5348 13.467 13.5348H16.2337C16.3793 13.5348 16.519 13.4699 16.622 13.3543C16.725 13.2388 16.7829 13.082 16.7829 12.9186V9.75257C16.7829 9.58915 16.725 9.43243 16.622 9.31687C16.519 9.20131 16.3793 9.1364 16.2337 9.1364ZM15.6845 12.3024H14.0162V10.3687H15.6845V12.3024ZM11.068 14.3416H8.30135C8.15569 14.3416 8.01599 14.4065 7.913 14.5221C7.81 14.6376 7.75214 14.7943 7.75214 14.9578V18.1237C7.75214 18.2872 7.81 18.4439 7.913 18.5594C8.01599 18.675 8.15569 18.7399 8.30135 18.7399H11.068C11.2137 18.7399 11.3534 18.675 11.4564 18.5594C11.5594 18.4439 11.6173 18.2872 11.6173 18.1237V14.9578C11.6173 14.7943 11.5594 14.6376 11.4564 14.5221C11.3534 14.4065 11.2137 14.3416 11.068 14.3416ZM10.5188 17.5076H8.85056V15.5739H10.5188V17.5076ZM5.90239 14.3416H3.13582C2.99016 14.3416 2.85047 14.4065 2.74747 14.5221C2.64447 14.6376 2.58661 14.7943 2.58661 14.9578V18.1237C2.58661 18.2872 2.64447 18.4439 2.74747 18.5594C2.85047 18.675 2.99016 18.7399 3.13582 18.7399H5.90239C6.04805 18.7399 6.18774 18.675 6.29074 18.5594C6.39374 18.4439 6.4516 18.2872 6.4516 18.1237V14.9578C6.4516 14.7943 6.39374 14.6376 6.29074 14.5221C6.18774 14.4065 6.04805 14.3416 5.90239 14.3416ZM5.35318 17.5076H3.68503V15.5739H5.35318V17.5076ZM5.90239 9.1364H3.13582C2.99016 9.1364 2.85047 9.20131 2.74747 9.31687C2.64447 9.43243 2.58661 9.58915 2.58661 9.75257V12.9186C2.58661 13.082 2.64447 13.2388 2.74747 13.3543C2.85047 13.4699 2.99016 13.5348 3.13582 13.5348H5.90239C6.04805 13.5348 6.18774 13.4699 6.29074 13.3543C6.39374 13.2388 6.4516 13.082 6.4516 12.9186V9.75257C6.4516 9.58915 6.39374 9.43243 6.29074 9.31687C6.18774 9.20131 6.04805 9.1364 5.90239 9.1364ZM5.35318 12.3024H3.68503V10.3687H5.35318V12.3024ZM11.068 19.5468H8.30135C8.15569 19.5468 8.01599 19.6118 7.913 19.7273C7.81 19.8429 7.75214 19.9996 7.75214 20.163V23.3291C7.75214 23.4925 7.81 23.6492 7.913 23.7648C8.01599 23.8803 8.15569 23.9452 8.30135 23.9452H11.068C11.2137 23.9452 11.3534 23.8803 11.4564 23.7648C11.5594 23.6492 11.6173 23.4925 11.6173 23.3291V20.163C11.6173 19.9996 11.5594 19.8429 11.4564 19.7273C11.3534 19.6118 11.2137 19.5468 11.068 19.5468ZM10.5188 22.7129H8.85056V20.7792H10.5188V22.7129ZM25.0489 20.9423C25.1217 21.0839 25.1414 21.252 25.1037 21.4099C25.066 21.5677 24.974 21.7023 24.8478 21.784L24.5351 21.9866V22.3917C24.5351 22.5551 24.4772 22.7119 24.3742 22.8274C24.2712 22.943 24.1315 23.0079 23.9859 23.0079C23.769 23.0079 23.5821 22.8665 23.4928 22.6618L21.3576 24.0449C21.2951 24.0854 21.2262 24.1117 21.1547 24.1223C21.0832 24.1329 21.0105 24.1275 20.9408 24.1066C20.8712 24.0857 20.8059 24.0495 20.7486 24.0003C20.6914 23.951 20.6434 23.8896 20.6074 23.8195C20.5345 23.6779 20.5148 23.5098 20.5525 23.3519C20.5902 23.1941 20.6822 23.0595 20.8084 22.9778L23.4367 21.2752V16.2936C23.4367 15.9532 23.6825 15.6774 23.9859 15.6774C24.2892 15.6774 24.5351 15.9532 24.5351 16.2936V20.6364C24.7378 20.6206 24.9404 20.7316 25.0489 20.9423Z"
                                    fill="#0054A6" />
                            </svg>
                            <span id="meeting-list-button-title">Jadwal Meeting</span>
                        </button>
                    </div>
                    [/ } /]

                    <input autocomplete="off" class="input-field" type="text" name="room_id" id="room_id"
                        placeholder="Enter Room Id...">
                    <input autocomplete="off" class="input-field" type="text" name="password" id="password"
                        placeholder="Enter Room Password...">
                    <button id="auto-generate" class="generate-btn">Auto Generate</button>
                    <button id="submit-join" class="masuk-btn">Join</button>

                    [/ if (!isLogin) { /]
                    <div class="google-calender-info-containeer">
                        <img src="[/= baseUrl /]/assets/icons/info.svg" alt="info-icons">
                        <span id="google-calendar-info-title">Sign in to create meetings and connect with your Google
                            Calendar</span>
                        <img src="[/= baseUrl /]/assets/icons/info.svg" alt="info-icons">
                    </div>
                    [/ } /]
                </div>
            </div>
            <div class="right-box">
                <div class="picture-container">
                    <img src="[/= baseUrl /]/assets/pictures/home_picture.png" alt="rdspeople" srcset="">
                </div>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="/assets/plugins/jquery/jquery-3.7.1.min.js"></script>
    <script src="/assets/plugins/daterangepicker-master/moment.min.js"></script>
    <script src="/assets/plugins/daterangepicker-master/daterangepicker.js"></script>
    <script>
        const baseUrl = [/- JSON.stringify(baseUrl) /]
        const socketPath = [/- JSON.stringify(socketPath) /]
        const socketBaseUrl = [/- JSON.stringify(socketBaseUrl) /]
        const viewerEnabled = [/- JSON.stringify(viewerEnabled) /]
        const initialSetting = [/- JSON.stringify(initialSetting) /]
        const isLogin = [/- JSON.stringify(isLogin) /]
    </script>
    <script src="[/= baseUrl /]/javascript/home/homebundle.js"></script>
</body>

</html>