<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="assets/css/room.css" type="text/css" /> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="[/= baseUrl /]/assets/pictures/favicon.png">
    <link rel="stylesheet" href="[/= baseUrl /]/assets/css/home.css">
    <link href='https://fonts.googleapis.com/css?family=Plus Jakarta Sans' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <title>[/= appName /]</title>
</head>

<body>
    <div class="full-container">
        <div class="navbar-container">
            <div class="navbar">
                <img src="[/= baseUrl /]/assets/pictures/RDS_Logo.png" alt="rdslogo" srcset="">
                <div class="option-container">
                    <div id="language-option" class="dropdown">
                        <button class="dropdown-btn">
                            <img id="selected-flag" src="[/= baseUrl /]/assets/icons/us_flag.svg" alt="us_flag">
                            <span id="selected-language">EN</span>
                        </button>
                        <div class="dropdown-content">
                            <div class="dropdown-item" data-value="id" data-lang="Indonesian" id="indonesian-language">
                                <img src="[/= baseUrl /]/assets/icons/indonesia_flag.svg" alt="Indonesia Flag">
                                <span>Indonesian</span>
                            </div>
                            <div class="dropdown-item" data-value="en" data-lang="English" id="english-language">
                                <img src="[/= baseUrl /]/assets/icons/us_flag.svg" alt="US Flag">
                                <span>English</span>
                            </div>
                        </div>
                    </div>

                    <div class="log-out-container d-none" id="log-out-button">
                        <span>Log Out</span><img src="[/= baseUrl /]/assets/icons/log_out_door.svg" alt="door" srcset="">
                    </div>
                </div>
            </div>
        </div>
        <div class="main-content">
            <div class="left-box">
                <div class="login-container">
                    <div class="text-container">
                        <p class="text-title" id="language-title"><span>RDS!</span>
                        </p>
                    </div>
                    <input class="input-field" type="text" name="room_id" id="room_id" placeholder="Enter Room Id...">
                    <input class="input-field" type="text" name="password" id="password"
                        placeholder="Enter Room Password...">
                    <button id="auto-generate" class="generate-btn">Auto Generate</button>
                    <button id="submit-join" class="masuk-btn">Join</button>
                </div>
            </div>
            <div class="right-box">
                <div class="picture-container">
                    <img src="[/= baseUrl /]/assets/pictures/home_picture.png" alt="rdspeople" srcset="">
                </div>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script>
        const baseUrl = [/- JSON.stringify(baseUrl) /]
        const socketPath = [/- JSON.stringify(socketPath) /]
        const socketBaseUrl = [/- JSON.stringify(socketBaseUrl) /]
        const viewerEnabled = [/- JSON.stringify(viewerEnabled) /]
        const initialSetting = [/- JSON.stringify(initialSetting) /]
    </script>
    <script src="[/= baseUrl /]/javascript/home/homebundle.js"></script>
</body>

</html>