<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="stylesheet" href="/assets/css/verify_user.css">
    <link href='https://fonts.googleapis.com/css?family=Plus Jakarta Sans' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <title>Verify User</title>
</head>

<body>
    <div class="full-container">
        <div id="loading-id" class="loading-show">
            <img id="loading" src="/assets/pictures/loading.svg" alt="loading-bar" />
            <lottie-player id="verified" src="/assets/lotties/verified.json" background="transparent" speed="1"
                style="opacity: 0;" loop autoplay></lottie-player>
        </div>
    </div>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script>
        const status = [/- JSON.stringify(status) /]
        const message = [/- JSON.stringify(message) /]
        const token = [/- JSON.stringify(token) /]
        console.log("- Status : ", status, " - Message : ", message, " - Token : ", token)
        if (status) {
            document.getElementById("loading").classList.add("d-none")
            document.getElementById("verified").removeAttribute("style")
            localStorage.setItem("token", token)
        }
    </script>
</body>

</html>